<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <contextName>FoxtrisLogbackSystem</contextName>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="APP_VERSION" source="spring.application.version"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="log.path" value="log"/>
    <property name="log.maxHistory" value="3"/>
    <property name="log.maxFileSize" value="1MB"/>
    <property name="log.totalSizeCap" value="1GB"/>
    <property name="log.colorPattern"
              value="%magenta(%d{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %boldCyan([App: ${APP_NAME}, v.${APP_VERSION}]) %yellow(%thread) %green(%logger{36}) %msg%n"/>
    <property name="log.pattern.example"
              value="%d %highlight(%-5level) AppVer: ${build.version} [%thread]  %logger{0}: %msg%n"/>

    <!-- APPENDERS -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/trace.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>256</queueSize>
        <maxFlushTime>30000</maxFlushTime>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxFileSize}</maxFileSize>
            <totalSizeCap>${log.totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${log.colorPattern}</pattern>
        </encoder>
    </appender>

    <!-- OFF -->
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>

    <!-- ERROR -->
    <logger name="springfox.documentation.schema.property" level="ERROR"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>

    <!-- WARN -->
    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.management.remote" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="org.ehcache" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>

    <!-- INFO -->
    <logger name="sun.rmi.transport" level="INFO"/>
    <logger name="org.postgresql" level="INFO"/>
    <logger name="springfox" level="INFO"/>
    <logger name="org.elasticsearch" level="INFO"/>
    <logger name="liquibase" level="INFO"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="io.swagger.v3" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO"/>

    <!-- DEBUG -->
    <logger name="org.springframework.security" level="DEBUG"/>

    <!-- HOOKS -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- ROOT -->
    <root>
        <appender-ref ref="STDOUT" level="DEBUG"/>
        <appender-ref ref="ASYNC" level="INFO"/>
        <appender-ref ref="ERRORS" level="ERROR"/>
    </root>

</configuration>
